# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/

local_settings.py

# Entornos virtuales
venv/
env/
ENV/
.venv/
.env/

# Archivos de entorno
.env
.env.*

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime